$banner-width: 728px;
$banner-height: 90px;

@import "../../../styles/main";


#wrapper {
  .absolute-position {
    position: absolute;
  }

  // main banner styles
  #main-panel {
    height: $banner-height;
    width: $banner-width;
  }
  #static_img{
    height: $banner-height;
    width: $banner-width;
  }
  #cta {
    width: 130px;
    height: 27px;
    top: 41px;
    left: 528px;
  }
}
