#isiMain
  #pi Indicaci&oacute;n e Informaci&oacute;n Importante de Seguridad
  #isi_wrapper
    .isi
      p.title &iquest;Qu&eacute; es TECENTRIQ?
      p TECENTRIQ es un medicamento de venta con receta que se utiliza para tratar a adultos con:
      p.head
        | Un tipo de c&aacute;ncer de h&iacute;gado llamado hepatocarcinoma, tambi&eacute;n conocido como carcinoma hepatocelular o CHC. TECENTRIQ se puede utilizar con el medicamento bevacizumab cuando el c&aacute;ncer de h&iacute;gado:
      ul.ul-clone.topAlign(style="left: -7px; margin: 0px 0 -2px; top: -3px;")
        li
          span
            | se ha diseminado o no se puede extirpar mediante cirug&iacute;a,&nbsp;
            strong.title y
        li
          span
            | no has recibido otros medicamentos por v&iacute;a oral o inyectables a trav&eacute;s de una vena (intravenoso, i.v.) para tratar el c&aacute;ncer.
      p No se sabe si TECENTRIQ es seguro y eficaz en ni&ntilde;os.
      p.head Informaci&oacute;n Importante de Seguridad
      p.head &iquest;Cu&aacute;l es la informaci&oacute;n m&aacute;s importante que debo saber sobre TECENTRIQ?
      p
        | TECENTRIQ es un medicamento con el que se pueden tratar ciertos tipos de c&aacute;ncer ya que act&uacute;a con el sistema inmunitario. TECENTRIQ puede hacer que el sistema inmunitario ataque los &oacute;rganos y tejidos normales en cualquier zona del cuerpo y puede afectar la forma en que funcionan. Estos problemas, a veces, pueden llegar a ser graves o potencialmente mortales, y pueden provocar la muerte. Es posible que presentes m&aacute;s de uno de estos problemas al mismo tiempo. Estos problemas pueden ocurrir en cualquier momento durante tu tratamiento o incluso despu&eacute;s de que hayas finalizado el tratamiento.
      p.head
        | Llama o consulta a tu m&eacute;dico de inmediato si presentas alg&uacute;n signo o s&iacute;ntoma nuevo o que empeore, incluidos los siguientes:
      p.head Problemas pulmonares
      p.f10
      ul
        li
          span tos
        li
          span dificultad para respirar
        li
          span dolor de pecho
      p.head Problemas intestinales
      p.f10
      ul
        li
          span diarrea (heces blandas) o deposiciones m&aacute;s frecuentes de lo habitual
        li
          span heces negras, alquitranadas, pegajosas, o con sangre o moco
        li
          span dolor o sensibilidad al tacto intensos en la zona del est&oacute;mago (abdomen)
      p.head Problemas hep&aacute;ticos
      p.f10
      ul
        li
          span amarillamiento de la piel o de la parte blanca de los ojos
        li
          span n&aacute;useas o v&oacute;mitos intensos
        li
          span dolor en el lado derecho de la zona del est&oacute;mago (abdomen)
        li
          span orina oscura (color del t&eacute;)
        li
          span sangrado o formaci&oacute;n de moretones con mayor facilidad que lo normal
      p.head Problemas de las gl&aacute;ndulas hormonales
      p.f10
      ul
        li
          span dolores de cabeza que no desaparecen o dolores de cabeza no habituales
        li
          span sensibilidad ocular a la luz
        li
          span problemas oculares
        li
          span latidos card&iacute;acos r&aacute;pidos
        li
          span aumento de la sudoraci&oacute;n
        li
          span cansancio extremo
        li
          span aumento de peso o p&eacute;rdida de peso
        li
          span tener m&aacute;s hambre o sed de lo habitual
        li
          span orinar con m&aacute;s frecuencia de lo habitual
        li
          span p&eacute;rdida de cabello
        li
          span sensaci&oacute;n de fr&iacute;o
        li
          span estre&ntilde;imiento
        li
          span la voz se vuelve m&aacute;s profunda
        li
          span mareos o desmayos
        li
          span cambios en el estado de &aacute;nimo o en el comportamiento, como disminuci&oacute;n del deseo sexual, irritabilidad o mala memoria
      p.head Problemas renales
      p.f10
      ul
        li
          span disminuci&oacute;n de la cantidad de orina
        li
          span sangre en la orina
        li
          span hinchaz&oacute;n de los tobillos
        li
          span p&eacute;rdida del apetito
      p.head Problemas en la piel
      p.f10
      ul
        li
          span erupci&oacute;n cut&aacute;nea
        li
          span picaz&oacute;n
        li
          span ampollas o descamaci&oacute;n de la piel
        li
          span llagas o &uacute;lceras dolorosas en la boca o la nariz, garganta o &aacute;rea genital
        li
          span fiebre o s&iacute;ntomas seudogripales
        li
          span ganglios linf&aacute;ticos inflamados
      p.head Los problemas tambi&eacute;n pueden ocurrir en otros &oacute;rganos.
      p.head Estos no son todos los signos y s&iacute;ntomas de los problemas del sistema inmunitario que pueden producirse con TECENTRIQ. Llama o consulta a tu m&eacute;dico de inmediato si presentas alg&uacute;n signo o s&iacute;ntoma nuevo o que empeore, incluidos los siguientes:
      p.f10
      ul
        li
          span.m-bold dolor en el pecho, latido card&iacute;aco irregular, dificultad para respirar o hinchaz&oacute;n de los tobillos
        li
          span.m-bold confusi&oacute;n, somnolencia, problemas de memoria, cambios en el estado de &aacute;nimo o comportamiento, rigidez del cuello, problemas de equilibrio, hormigueo o entumecimiento de brazos o piernas
        li
          span.m-bold visi&oacute;n doble, visi&oacute;n borrosa, sensibilidad a la luz, dolor ocular, cambios en la vista
        li
          span.m-bold dolor o debilidad muscular persistente o grave, calambres musculares
        li
          span.m-bold niveles bajos de gl&oacute;bulos rojos, moretones
      p.head Reacciones a la infusi&oacute;n que, a veces, pueden ser graves o potencialmente mortales. Los signos y s&iacute;ntomas de las reacciones a la infusi&oacute;n pueden incluir los siguientes:
      p.f10
      ul
        li
          span escalofr&iacute;os o temblores
        li
          span picaz&oacute;n o erupci&oacute;n
        li
          span rubefacci&oacute;n
        li
          span dificultad para respirar o sibilancias
        li
          span mareos
        li
          span sensaci&oacute;n de desmayo
        li
          span fiebre
        li
          span dolor de espalda o cuello
      p
        strong.title Complicaciones, incluida la enfermedad del injerto contra el hu&eacute;sped (EICH), en personas que han recibido un trasplante de m&eacute;dula &oacute;sea (c&eacute;lulas madre) que utiliza c&eacute;lulas madre del donante (alog&eacute;nico). 
        | Estas complicaciones pueden ser serias y provocar la muerte. Estas complicaciones pueden ocurrir si te realizaron un trasplante antes o despu&eacute;s de recibir tratamiento con TECENTRIQ. Tu m&eacute;dico te monitorear&aacute; para detectar estas complicaciones.
      p
        strong.title Recibir tratamiento m&eacute;dico de inmediato puede ayudar a evitar que estos problemas se vuelvan m&aacute;s serios.&nbsp;
        | Tu m&eacute;dico te controlar&aacute; si tienes estos problemas durante tu tratamiento con TECENTRIQ. Tu m&eacute;dico puede tratarte con corticosteroides o medicamentos de reemplazo hormonal. Es posible que tu m&eacute;dico tambi&eacute;n tenga que retrasar o interrumpir por completo el tratamiento con TECENTRIQ si tienes efectos secundarios graves.
      p
        strong.title Antes de recibir TECENTRIQ, informa a tu proveedor de atenci&oacute;n m&eacute;dica acerca de todas tus afecciones m&eacute;dicas, incluyendo los siguientes casos:
      p.f10
      ul
        li
          span
            | tienes problemas del sistema inmunitario, como enfermedad de Crohn, colitis ulcerosa o lupus
        li
          span
            | has recibido un trasplante de &oacute;rgano
        li
          span
            | has recibido o tienes previsto recibir un trasplante de c&eacute;lulas madre en el que se utilizan c&eacute;lulas madre del donante (alog&eacute;nico)
        li
          span
            | has recibido tratamiento con radiaci&oacute;n en el &aacute;rea del pecho
        li
          span
            | tienes una afecci&oacute;n que afecta al sistema nervioso, como miastenia grave o s&iacute;ndrome de Guillain-Barr&eacute;
        li
          span
            | est&aacute;s embarazada o tienes planes de quedar embarazada. TECENTRIQ puede da&ntilde;ar al feto. Informa a tu proveedor de atenci&oacute;n m&eacute;dica de inmediato si quedas embarazada o si crees que puedes estar embarazada durante el tratamiento con TECENTRIQ.&nbsp;
            strong.title Mujeres que pueden quedar embarazadas:
          ul.ul-clone
            li
              span
                | Tu m&eacute;dico debe realizarte una prueba para la detecci&oacute;n del embarazo antes de comenzar el tratamiento con TECENTRIQ.
            li
              span
                | Debes usar un m&eacute;todo anticonceptivo eficaz durante tu tratamiento y durante, al menos, 5 meses despu&eacute;s de la &uacute;ltima dosis de TECENTRIQ.
        li
          span
            | est&aacute;s en per&iacute;odo de lactancia o tienes planes de amamantar. Se desconoce si TECENTRIQ pasa a la leche materna. No amamantes durante el tratamiento ni durante, al menos, 5 meses despu&eacute;s de la &uacute;ltima dosis de TECENTRIQ.
      p
        strong.title Informa a tu proveedor de atenci&oacute;n m&eacute;dica acerca de todos los medicamentos que tomas,&nbsp;
        | incluidos los medicamentos de venta con receta y de venta libre, las vitaminas y los suplementos a base de hierbas.
      p.head
        | Los efectos secundarios m&aacute;s frecuentes de TECENTRIQ cuando se usa para el hepatocarcinoma con bevacizumab son los siguientes:
      p.f10
      ul
        li
          span presi&oacute;n arterial alta
        li
          span sensaci&oacute;n de cansancio o debilidad
        li
          span demasiada prote&iacute;na en la orina
      p
        | TECENTRIQ puede causar problemas de fertilidad en mujeres, lo que puede afectar a la capacidad para tener hijos. Habla con tu proveedor de atenci&oacute;n m&eacute;dica si tienes inquietudes con respecto a la fertilidad.
      p
        | Estos no son todos los efectos secundarios posibles de TECENTRIQ. Llama a tu m&eacute;dico para que te brinde asesoramiento m&eacute;dico sobre los efectos secundarios.
      p
        | Puedes informar los efectos secundarios a la FDA llamando al 
        span(class="") 1-800-FDA-1088 o en 
        a(id="medlink" style="text-decoration:none;") www.fda.gov/medwatch
        | . Tambi&eacute;n puedes informar los efectos secundarios a Genentech llamando al
        | 1-888-835-2555.
      p.isilinks
        | Consulta la&nbsp;
        a(href="" target="_blank" class="pres-link") Informaci&oacute;n de Prescripci&oacute;n
        |  completa y la&nbsp;
        a(href="" target="_blank" class="medguide-link") Gu&iacute;a del Medicamento
        |  para ver Informaci&oacute;n Importante de Seguridad adicional.
      p.f10
        img.GenentechLogo_isi(src='images/genentech_logo.png' alt='Genentech Logo' width='148')
      p.f10
      if isFullCamapaign
        p.isiLastText &copy; 
          | 2021 Genentech USA, Inc. Todos los derechos reservados.&nbsp;
          span(class="no-break") M-US-00013214(v1.0)
      else
        p.isiLastText &copy; 
          | 2021 Genentech USA, Inc. Todos los derechos reservados.&nbsp;
          span(class="no-break") M-US-00013215(v1.0)