$banner-width: 300px;
$banner-height: 600px;

@import "../../../styles/main";


#wrapper {
  .absolute-position {
    position: absolute;
  }

  // main banner styles
  #main-panel {
    height: $banner-height;
    width: $banner-width;
  }
  #static_img{
    height: $banner-height;
    width: $banner-width;
  }
  #cta {
    width: 200px;
    height: 45px;
    top: 466px;
    left: 51px;
  }
}
